body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #000000;
    background-color: #ffffff;
    max-width: 80vw;
    margin: auto;
}

h1 {
    background-color: darkblue;
    color: #ffffff;
    padding: 2% 1%;
}

h2 {
    font-weight: 700;
    padding: 2% 0;
}

#movie-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

#movie-results>div {
    width: 21%;
}

#movie-results>div>img {
    max-width: 100%;
}